<% include ../partials/header.ejs %>

  <h2>ingredient List</h2>
  <ul>  
    <% for (let i = 0; i < ingredients.length; i++) { -%>
      <li>
        <a href="/ingredients/<%= ingredients[i].id %>">
        <%= ingredients[i].name %>
        </a>
        &nbsp;
        <a href="/ingredients/<%= ingredients[i].id %>/edit">
        (Edit)
        </a>

        <form action="/ingredients/<%= ingredients[i].id %>?_method=DELETE" method="POST">
          <button>Delete <%= ingredients[i].name %></button>
        </form>
      </li>
    <% } -%>
  </ul>

<% include ../partials/footer.ejs %>
