  <% include ../partials/header.ejs %>

  <h2>Sandwich List</h2>
  <ul>  
    <% for (let i = 0; i < sandwiches.length; i++) { -%>
      <li>
        <a href="/sandwiches/<%= sandwiches[i].id %>">
        <%= sandwiches[i].name %>
        </a>
        &nbsp;
        <a href="/sandwiches/<%= sandwiches[i].id %>/edit">
        (Edit)
        </a>

        <form action="/sandwiches/<%= sandwiches[i].id %>?_method=DELETE" method="POST">
          <button>Delete <%= sandwiches[i].name %></button>
        </form>
      </li>
    <% } -%>
  </ul>

  <% include ../partials/footer.ejs %>
